__pycache__/

AI_functions/histories/*
!AI_functions/histories/.gitkeep
AI_functions/output_data/*
!AI_functions/output_data/.gitkeep

.env
venv/
deleted_files/
edited_files/
discordbot.sql
audio_files/
start.*
